code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid $accent-color3;
    border-radius: 0.3em;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
    background: $background-alternative-color;
    color: $font-color;
}

pre {
    padding: 0 1em;
    border: 1px solid $accent-color3;
    border-radius: 0.3em;
    background: $background-alternative-color;
    margin: 1em 0;
    color: $font-color;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    overflow-x: auto;
    line-height: 1.4;
}
