/* Footer */
.footer {
    padding: 35px;
    background-color: $footer-background-color;
    margin-top: 45px;
}

.grid-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.grid-footer div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        text-align: center;
    }

    .social {
        display: flex;
        justify-content: center;
        margin: 0 5px;
    }
}

.footer a {
    text-decoration: none;
    color: $font-color;
    margin: 0 10px;

    &:hover {
        color: $links-color;
        border: none;
    }
}

.footer .social {
    font-size: 1.5em;
}

.footer-header {
    text-transform: uppercase;
    margin: 0.6em 0;
    font-weight: bold;
    font-family: $titles;
    font-size: large;
    letter-spacing: 0.1em;
}
