/* Header */

.header,
.site-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* Title */

.title,
.logo {
    padding: 3em 3em 3em 0;
    max-width: 300px;

    a {
        text-decoration: none;
    }
}

.logo img {
    box-shadow: 12px 12px 2px 1px $accent-color2;
}
