/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* Title */

.title, .logo {
    padding: 3em 3em 3em 0;
    max-width: 300px;
    
    a {
        text-decoration: none;
    }
}