.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.google-sheets {
    width: 100%;
    height: 300px;
    padding: 10px 0;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    position: relative;
    margin: 1rem;
    cursor: pointer;
    width: 250px;
    height: 250px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img,
embed,
object,
video {
    max-width: 100%;
}

img {
    height: auto;
    display: block;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}

img:not([alt]) {
    outline: 4px rgb(255, 174, 0) dashed !important;
}
