.nav {
    a {
        color: $font-color;
        text-decoration: none;
    }
    
    a:hover {
        color: $links-alternative-color;
        border-bottom: 3px solid $links-alternative-color;
        text-decoration: none;
    }
}
