$font-color: #482C2E;
$font-alternative-color: #FDF7EB;
$accent-color: #D8FEA4;
$links-color: #A7B3DE;
$links-alternative-color: #EC8970;
$background-color: #FFF;
$background-alternative-color: #FDF7EB;
$titles: 'Gabarito', sans-serif;
$text: 'Space Mono', monospace;
