// Color Scheme
$accent-color: #D8FEA4;
$background-color: #FFF;
$background-alternative-color: #FDF7EB;

// Fonts
$titles: 'Gabarito', sans-serif;
$text: 'Space Mono', monospace;

// Font Color
$font-color: #482C2E;
$font-alternative-color: #FDF7EB;

// Link Color
$links-color: #A7B3DE;
$links-alternative-color: #EC8970;