/* Variables for regular theme */

// Color Scheme
$accent-color1: #d8fea4;
$accent-color2: #a7b3de;
$accent-color3: #ec8970;
$background-color: #fff;
$background-alternative-color: #fdf7eb;
$dark-color: #482c2e;

// Footer Background Colors
$footer-background-color: #d8fea4;

// Fonts
$titles: "Gabarito", sans-serif;
$text: "Space Mono", monospace;

// Font Color
$font-color: #482c2e;
$font-alternative-color: #fdf7eb;

// Link Color
$links-color: #a7b3de;
$links-alternative-color: #ec8970;
